<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RespuestaHTML</servlet-name>
        <servlet-class>com.mycompany.servlet.RespuestaHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaJSON</servlet-name>
        <servlet-class>com.mycompany.servlet.RespuestaJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaXML</servlet-name>
        <servlet-class>com.mycompany.servlet.RespuestaXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaImagen</servlet-name>
        <servlet-class>com.mycompany.servlet.RespuestaImagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RespuestaHTML</servlet-name>
        <url-pattern>/respuestaHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaJSON</servlet-name>
        <url-pattern>/respuestaJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaXML</servlet-name>
        <url-pattern>/respuestaXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaImagen</servlet-name>
        <url-pattern>/respuestaImagen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>